bootstrap/cache/services.php

storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
resources/*
!resources/views

node_modules

**.git
.github
.php_cs.dist
.idea
**.gitignore
**.gitattributes
*.env*

package.json
phpunit.xml
README.md
docker-compose.*
webpack.mix.js

nginx
mysql
php

Dockerfile
!.env
!vendor/*
